In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("salary_prediction.csv")
df

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

In [3]:
import math
median_experience = math.floor(df.experience.median())
median_experience

6

In [4]:
median_test_score = math.floor(df.test_score.median())
median_test_score

8

In [5]:
df.experience = df.experience.fillna(median_experience)
df

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

In [6]:
df.test_score = df.test_score.fillna(median_test_score)
df

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [7]:
reg  = linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [8]:
reg.coef_

array([2813.00813008, 1333.33333333, 2926.82926829])

In [9]:
reg.intercept_

11869.91869918698

In [10]:
reg.predict([[2,9,6]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([47056.91056911])

In [11]:
2813.00813008*2+1333.33333333*9+2926.82926829*6+11869.91869918698

47056.910569056985

In [12]:
reg.predict([[12,10,10]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([88227.64227642])

In [13]:
2813.00813008*12+1333.33333333*10+2926.82926829*10+11869.91869918698

88227.64227634697